<nav class="navbar">
    <a class="navbar-brand"><h1>{{title}}</h1></a>
</nav>
<ul class="list-group">
    <img src="{{movie.Poster}}" style="width: 350px;height: 520px" *ngIf="movie.Poster">
    <li class="list-group-item" *ngIf="movie.Title"><h3>Title: "{{movie.Title}}"</h3></li>
    <li class="list-group-item" *ngIf="movie.Type">Type: {{movie.Type}}</li>
    <li class="list-group-item" *ngIf="movie.Year">Year: {{movie.Year}}</li>
    <li class="list-group-item" *ngIf="movie.imdbID">imdbID: {{movie.imdbID}}</li>
    <li class="list-group-item" *ngIf="movie.Rated">Rated: {{movie.Rated}}</li>
    <li class="list-group-item" *ngIf="movie.Released">Released: {{movie.Released}}</li>
    <li class="list-group-item" *ngIf="movie.Runtime">Runtime: {{movie.Runtime}}</li>
    <li class="list-group-item" *ngIf="movie.Genre">Genre: {{movie.Genre}}</li>
    <li class="list-group-item" *ngIf="movie.Director">Director: {{movie.Director}}</li>
    <li class="list-group-item" *ngIf="movie.Writer">Writer: {{movie.Writer}}</li>
    <li class="list-group-item" *ngIf="movie.Actors">Actors: {{movie.Actors}}</li>
    <li class="list-group-item" *ngIf="movie.Plot">Plot:<br>{{movie.Plot}}</li>
    <li class="list-group-item" *ngIf="movie.Language">Language: {{movie.Language}}</li>
    <li class="list-group-item" *ngIf="movie.Country">Country: {{movie.Country}}</li>
    <li class="list-group-item" *ngIf="movie.Awards">Awards: {{movie.Awards}}</li>
    <li class="list-group-item" *ngIf="movie.Metascore">Metascore: {{movie.Metascore}}</li>
    <li class="list-group-item" *ngIf="movie.imdbRating">imdbRating: {{movie.imdbRating}}</li>
    <li class="list-group-item" *ngIf="movie.imdbVotes">imdbVotes: {{movie.imdbVotes}}</li>
    <li class="list-group-item" *ngIf="movie.DVD">DVD: {{movie.DVD}}</li>
    <li class="list-group-item" *ngIf="movie.BoxOffice">BoxOffice: {{movie.BoxOffice}}</li>
</ul>
<div class="foot">
    <a routerLink="/movies" class="btn btn-secondary">Go back</a>
</div>