<div class="container">
    <div *ngIf="movie">
        
        <div class="movie-detail">
                <label>
                    {{movie.title}}
                </label>
                <label>
                    <span>{{movie.year}}</span>
                </label>
                <label>
                    <span>{{movie.imdbId}}</span>
                </label>
                <label>
                    <span>{{movie.type}}</span>
                </label>

        </div>
    </div>
</div>